
.blogs-post,
.blogs-column h3 {
    font-size: 2.5rem;
    font-family: var(--main-font);
    font-weight: var(--bold-font);
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.blogs-post:hover {
    color: var(--orange);
}

.blogs-column h3 {
    font-size: 1.3rem;
}

.blogs-content a,
.blogs-content h3 {
    font-family: var(--main-font);
    font-weight: var(--bold-font);
    color: #fff;
    text-decoration: none;
}

.blog-main,
.blog-more-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
}


.blogs-content,
.blogs-hidden-content {
    margin: 10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    background: var(--back-color);
    display: flex;
    flex-wrap: wrap;
    max-width: 280px;
}

.blog-more-content {
    display: none;
}

.blog-button {
    background-color: var(--lightgrey-bg);
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    align-self: center;
    color: var(--orange);
    font-family: var(--main-font);
    font-weight: var(--bold-font);
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
}


.blog-button:hover {
    color: #fff;
    background-color: var(--grey-bg);
}

.blogs-img-container img {
    border-radius: 5px;
}



.read-more-container {
    display: flex;
    justify-content: center;
}

.read-more-button {
    border: none;
    font-size: 1.5rem;
    background-color: var(--back-color);
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--main-font);
    font-weight: var(--bold-font);
    margin: 10px;
    padding: 15px;
}

.read-more-button:hover {
    color: var(--orange);
}

