body {
    margin: 0 auto;
}

h1 {
    font-family: var(--main-font);
    font-weight: var(--bold-font);
}

img { 
    width: 100%;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.header-container {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

/*  NAVIGATION  */ 

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--back-color);
    padding: 0px 20px;
    flex-wrap: nowrap;
}

.main-nav {
    padding: 10px 0px;
}

.main-nav ul {
    padding: 0px;
}
.main-nav li {
    display: inline-block;
}

.main-nav a {
    font-family: var(--main-font);
    font-weight: var(--bold-font);
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 2rem;
    font-size: 1.3rem;
}

.main-nav .nav-active {
    color: var(--orange);
}

.main-nav a:hover {
    text-decoration: underline;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    height: 44px;
    max-width: 300px;
    width: 100%
}
.search-form input {
    all: unset;
    font: var(--main-font);
    font-weight: var(--medium-font);
    outline: none;
    border: none;
    width: 100%;
    padding:10px;
    color: #fff;
    border-radius: 5px;
    background-color: var(--grey-bg);
}

.search-form input::placeholder {
    color: #fff;
    font-family: var(--main-font);
    font-weight: var(--medium-font);
    font-size: 0.8rem;
}

input:hover {
    background-color: var(--hover-bg);
}

.search-button {
    all: unset;
    cursor: pointer;
    border-radius: 5px;
}

.fa-search {
    font-size: 1.5rem;
    padding: 10px;
    color: var(--orange);
}

.fa-search:hover {
    color: #fff;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--back-color);
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px 0px;
    color: #fff;
    font-family: var(--main-font);
    font-weight: var(--bold-font);
}

/* CAROUSEL */ 

.carousel {
    position: absolute;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-track-container {
    background: lightgreen;
    position: relative;
    overflow: hidden;
}

.carousel-track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel-slide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* CAROUSEL BUTTONS */ 

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.back-button {
    left: -40px;
}

.next-button {
    right: -40px;
}

.back-button,
.next-button {
    font-size: 2rem;
    border: none;
    background: none;
    padding: 0 15px;
}

.back-button:hover,
.next-button:hover {
    color: var(--orange);
}

/* carousel indicators */ 

.carousel-dots {
    background: pink;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel-indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: black;
    margin: 0 auto;
}