body {
    margin: 0 auto;
}

.header-container {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

ul {
    list-style: none;
}


/*  NAVIGATION  */ 

.main-nav {
    background-color: var(--back-color);
    padding: 10px;
    max-width: 500px;
}

.main-nav li {
    display: inline-block;
}

.main-nav a {
    font-family: var(--main-font);
    font-weight: var(--bold-font);
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 2rem;
    font-size: 1.3rem;
}

.main-nav .nav-active {
    color: rgb(255, 146, 29);
}

.main-nav a:hover {
    text-decoration: underline;
}


