body {
    margin: 0 auto;
}

h1 {
    font-family: var(--main-font);
    font-weight: var(--bold-font);
}

img { 
    width: 100%;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.header-container {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

/*  NAVIGATION  */ 

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--back-color);
    padding: 0px 20px;
    flex-wrap: nowrap;
}

.main-nav {
    padding: 10px 0px;
}

.main-nav ul {
    padding: 0px;
}
.main-nav li {
    display: inline-block;
}

.main-nav a {
    font-family: var(--main-font);
    font-weight: var(--bold-font);
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 2rem;
    font-size: 1.3rem;
}

.main-nav .nav-active {
    color: var(--orange);
}

.main-nav a:hover {
    text-decoration: underline;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    height: 44px;
    max-width: 300px;
    width: 100%
}
.search-form input {
    all: unset;
    font: var(--main-font);
    font-weight: var(--medium-font);
    outline: none;
    border: none;
    width: 100%;
    padding:10px;
    color: #fff;
    border-radius: 5px;
    background-color: var(--grey-bg);
}

.search-form input::placeholder {
    color: #fff;
    font-family: var(--main-font);
    font-weight: var(--medium-font);
    font-size: 0.8rem;
}

input:hover {
    background-color: var(--hover-bg);
}

.search-button {
    all: unset;
    cursor: pointer;
    border-radius: 5px;
}

.fa-search {
    font-size: 1.5rem;
    padding: 10px;
    color: var(--orange);
}

.fa-search:hover {
    color: #fff;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--back-color);
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px 0px;
    color: #fff;
    font-family: var(--main-font);
    font-weight: var(--bold-font);
}

/* CAROUSEL */ 

.carousel {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carousel_track {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}


.carousel_slide {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    background: var(--back-color);
    color: var(--orange);
    font-family: var(--main-font);
    padding: 10px;
}

.carousel_slide img {
    border-radius: 10%;
    padding: 0 20px;
}  


.slide-column {
    display: flex;
    flex-direction: column;
}

.slide-row {
    display: flex;
    flex-direction: row;
}

.slide-img-container {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    padding: 10px;
}

.carousel_button-left,
.carousel_button-right {
    font-size: 2rem;
    border: none;
    background: none;
    padding: 0 15px;
}

.carousel_button-left:hover,
.carousel_button-right:hover {
    color: var(--orange);
}

.carousel-column-container {
    display: flex;
    flex-direction: column;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.carousel-indicator {
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 15px; 
    height: 15px;
    margin: 0 10px;
}

.carousel-indicator.active-slide {
    background: rgba(0, 0, 0, 0.75);
}

