body {
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--main-font);
    font-weight: var(--bold-font);
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 2rem;
}

img { 
    width: 100%;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.header-container {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}


/*  NAVIGATION  */ 

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--back-color);
    padding: 0px 20px;
    flex-wrap: nowrap;
}

.main-nav {
    padding: 10px 0px;
}

.main-nav ul {
    padding: 0px;
}
.main-nav li {
    display: inline-block;
}

.main-nav a {
    font-family: var(--main-font);
    font-weight: var(--bold-font);
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 2rem;
    font-size: 1.3rem;
}

.main-nav .nav-active {
    color: var(--orange);
}

.main-nav a:hover {
    text-decoration: underline;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    height: 44px;
    max-width: 300px;
    width: 100%
}
.search-form input {
    all: unset;
    font: var(--main-font);
    font-weight: var(--medium-font);
    outline: none;
    border: none;
    width: 100%;
    padding:10px;
    color: #fff;
    border-radius: 5px;
    background-color: var(--grey-bg);
}

.search-form input::placeholder {
    color: #fff;
    font-family: var(--main-font);
    font-weight: var(--medium-font);
    font-size: 0.8rem;
}

input:hover {
    background-color: var(--hover-bg);
}

.search-button {
    all: unset;
    cursor: pointer;
    border-radius: 5px;
}

.fa-search {
    font-size: 1.5rem;
    padding: 10px;
    color: var(--orange);
}

.fa-search:hover {
    color: #fff;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--back-color);
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px 0px;
    color: #fff;
    font-family: var(--main-font);
    font-weight: var(--bold-font);
}

/* CAROUSEL */ 

.carousel {
    margin: 0 auto;
}

.carousel-button {
    cursor: pointer;
}

.carousel-track {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
}

.carousel-track-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.carousel-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center
}


.carousel-slide {
    margin: 10px;
    text-align: center;
    justify-content: center;
    background: var(--back-color);
    display: flex;
    flex-wrap: wrap;
    display: none;
    height: 700px;
}

.carousel-slide a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--main-font);
    font-weight: var(--bold-font);
}

.carousel-slide a:hover,
.blogs-content a:hover {
    color: var(--orange);
    text-decoration: underline;
}

.active-slide {
    display: flex;
}


.carousel-slide img {
    border-radius: 10%;
    padding: 20px 20px 0px 20px;
    max-width: 300px;
    max-height: 200px;
} 

.slide-img-container {
    display: flex;
    flex-direction: column;
}

.slide-button {
    background-color: var(--lightgrey-bg);
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    align-self: center;
    color: #fff;
    font-family: var(--main-font);
    font-weight: var(--bold-font);
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
}

.slide-button:hover {
    color: var(--orange);
    background-color: var(--grey-bg);
}




.slide-column {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
}

.slide-row {
    display: flex;
    flex-direction: row;

}

.next-button,
.back-button {
    font-size: 2rem;
    border: none;
    background: none;
    padding: 0 15px;
}

.next-button:hover,
.back-button:hover {
    color: var(--orange);
}

.carousel-column-container {
    display: flex;
    flex-direction: column;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.carousel-indicator {
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 15px; 
    height: 15px;
    margin: 0 10px;
    cursor: pointer;
}

.carousel-indicator.current-slide {
    background: rgba(0, 0, 0, 0.75);
}

/* LOADER */ 

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loader-center {
      display: flex;
      justify-content: center;
  }

  /* ABOUT PAGE */

  .about-content {
      max-width: 300px;
      font-family: var(--main-font);
      font-weight: var(--medium-font);
      font-size: 1.1rem;
  }

