:root {

    /* FONTS */ 

    --main-font: futura-pt-condensed, sans-serif;
    --bold-font: 700;
    --medium-font: 500;
    --style: normal;

    /* COLORS */ 
    --back-color: rgba(0, 0, 0, 0.8);
    --grey-bg: rgba(0, 0, 0, 0.4);
    --lightgrey-bg: rgba(0, 0, 0, 0.2);
    --hover-bg: rgba(0, 0, 0, 0.6);
    --orange: rgb(255, 146, 29);
}